.authorization {
    display: flex;
    justify-content: space-between;

    &__item {
        &:first-child {
            margin-right: 40px;
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
        line-height: 14px;
        text-transform: uppercase;
        color: var(--white-color);
    }
}

.formBox {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 280px;
    padding: 40px;

    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
    }

    &__field {
        height: 42px;
        padding: 11px;
        margin-bottom: 16px;

        border: 1px solid var(--black-color);
        border-radius: 5px;

        &:nth-child(5) {
            margin-bottom: 10px;
        }
        
        &::placeholder {
            color: var(--grey-color);
        } 
    }

    &__authInfo {
        margin-bottom: 10px;
    }

    &__submit {
        width: 120px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid var(--black-color);
        border-radius: 5px;

    }
}

.error {
    border-color: var(--primary-color);
}