:root {
    --primary-color: #FF6B01;
    --secondary-color: #FF6B08;
    --light-orange-color: #f0a56f;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --grey-color: #545454;
    --red-color: #FF001B;
    --overlay: #E5E5E5;
    --background-footer: #F7F7F7;
}