:root {
  --primary-color: #FF6B01;
  --secondary-color: #FF6B08;
  --light-orange-color: #f0a56f;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #545454;
  --light-grey-color: #8C8C8C;
  --red-color: #FF001B;
  --overlay: #E5E5E5;
  --background-footer: #F7F7F7;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  margin: 0;
}

body, h1, h2, h3, button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--black-color);
}

body.body-modal-open {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.header__list.is-hidden,
.pagination__previousPage.is-hidden,
.pagination__nextPage.is-hidden,
.pagination__dotsNext.is-hidden,
.pagination__dotsPrev.is-hidden,
.pagination__firstPage.is-hidden,
.pagination__lastPage.is-hidden,
.backdrop.is-hidden,
.information.is-hidden,
.search__icon.is-hidden,
.spinner.is-hidden,
.authorization.is-hidden {
  display: none;
}

.spinner {
  margin-bottom: 7px;
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid var(--white-color);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.1em;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border {
    animation-duration: 1.5s;
  }
}
.header {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-image: url("../images/bg_320.png");
}
@media (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url("../images/bg_768.png");
  }
}
@media (min-width: 1280px) {
  .header {
    background-image: url("../images/bg_1280.png");
  }
}
.header__nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}
.header__title {
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-color);
}
@media (max-width: 767px) {
  .header__title {
    display: none;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item:first-child {
  margin-right: 40px;
}
.header__link {
  line-height: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}
.header__link--current {
  position: relative;
}
.header__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--red-color);
}

.search {
  position: relative;
  width: 280px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.5px solid var(--white-color);
}
@media (min-width: 768px) {
  .search {
    width: 336px;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .search {
    width: 394px;
  }
}
.search__input {
  width: 262px;
  padding: 0 0 4px 1px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  background-color: transparent;
  border: none;
}
.search__input::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}
.search__input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .search__input {
    width: 317px;
  }
}
@media (min-width: 1280px) {
  .search__input {
    width: 377px;
  }
}
.search__btn {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}
.search__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
}
.search__info {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: var(--red-color);
}
@media (min-width: 768px) {
  .search__info {
    text-align: center;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--white-color);
}
@media (min-width: 768px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery, .myLibGallery {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .gallery, .myLibGallery {
    width: 704px;
  }
}
@media (min-width: 1280px) {
  .gallery, .myLibGallery {
    width: 1217px;
  }
}
.gallery__item, .myLibGallery__item {
  width: 280px;
  height: 443px;
}
@media (min-width: 768px) {
  .gallery__item, .myLibGallery__item {
    width: 336px;
    height: 494px;
  }
}
@media (min-width: 1280px) {
  .gallery__item, .myLibGallery__item {
    width: 395px;
    height: 634px;
  }
}
.gallery__item:not(:first-child), .myLibGallery__item:not(:first-child) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .gallery__item:not(:first-child), .myLibGallery__item:not(:first-child) {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .gallery__item:nth-child(2), .myLibGallery__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__item:nth-child(2n), .myLibGallery__item:nth-child(2n) {
    margin-left: 32px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3), .myLibGallery__item:nth-child(3) {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3n+2), .myLibGallery__item:nth-child(3n+2) {
    margin-left: 16px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3n+3), .myLibGallery__item:nth-child(3n+3) {
    margin-left: 16px;
  }
}

.film__poster {
  height: 402px;
}
@media (min-width: 768px) {
  .film__poster {
    height: 455px;
  }
}
@media (min-width: 1280px) {
  .film__poster {
    height: 574px;
  }
}
.film__title {
  margin-top: 10px;
  color: var(--black-color);
}
@media (min-width: 768px) {
  .film__title {
    margin-top: 8px;
  }
}
@media (min-width: 1280px) {
  .film__title {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
  }
}
.film__characteristics {
  color: var(--secondary-color);
}
@media (min-width: 1280px) {
  .film__characteristics {
    font-size: 20px;
    line-height: 24px;
  }
}

.pagination-number,
.pagination__dotsNext,
.pagination__lastPage,
.pagination__firstPage,
.pagination__dotsPrev {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  color: var(--black-color);
  border: none;
  border-radius: 5px;
  background-color: var(--white-color);
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .pagination {
    padding-top: 60px;
    width: 440px;
    height: 40px;
  }
}
.pagination__current {
  display: flex;
}
.pagination__previousPage, .pagination__nextPage {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  color: var(--black-color);
  background-color: var(--light-orange-color);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
}
.pagination__previousPage {
  margin-right: 3px;
  background-image: url(../images/left.svg);
}
.pagination__nextPage {
  margin-left: 3px;
  background-image: url(../images/right.svg);
}
@media (max-width: 767px) {
  .pagination__firstPage, .pagination__lastPage, .pagination__dotsPrev, .pagination__dotsNext {
    display: none;
  }
}

.pagination-number.is-active {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.disabled {
  background-color: var(--background-footer);
}

.footer {
  width: 100%;
  padding: 30px 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-color);
  background-color: var(--background-footer);
}
@media (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 19px;
  }
}

.copyright {
  text-align: center;
}
@media (min-width: 768px) {
  .copyright {
    display: flex;
    justify-content: center;
  }
}
.copyright__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .copyright__info {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .copyright__info {
    margin-left: 3px;
  }
}
.copyright__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.myLib {
  background-image: url(../images/Rectangle_320.png), url(../images/bgMyLib_320.png);
}
@media (min-width: 768px) {
  .myLib {
    background-image: url(../images/Rectangle_768.png), url(../images/bgMyLib_768.png);
  }
}
@media (min-width: 1280px) {
  .myLib {
    background-image: url(../images/Rectangle_1280.png), url(../images/bgMyLib_1280.png);
  }
}
.myLib__btnBox {
  width: 280px;
  display: flex;
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .myLib__btnBox {
    width: 336px;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .myLib__btnBox {
    width: 312px;
  }
}
.myLib__btn {
  width: 130px;
  height: 44px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .myLib__btn {
    width: 152px;
  }
}
@media (min-width: 1280px) {
  .myLib__btn {
    width: 148px;
    height: 42px;
  }
}
.myLib__btn.is-active {
  background-color: var(--primary-color);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  border: none;
}

.information {
  text-align: center;
}
@media (min-width: 768px) {
  .information {
    font-size: 25px;
    line-height: 30px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: 800;
  color: gold;
}

.movieCard {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 280px;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: var(--white-color);
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .movieCard {
    top: 50%;
    width: 704px;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (min-width: 1280px) {
  .movieCard {
    width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.movieCard__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}
.movieCard__cross {
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  fill: var(--black-color);
}

@media (min-width: 768px) {
  .movie {
    display: flex;
  }
}
.movie__poster {
  width: 240px;
  height: 357px;
}
@media (min-width: 768px) {
  .movie__poster {
    width: 264px;
    height: 374px;
  }
}
@media (min-width: 1280px) {
  .movie__poster {
    width: 375px;
    height: 478px;
  }
}
.movie__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
}
@media (min-width: 768px) {
  .movie__title {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .movie__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.movie__characteristic {
  display: flex;
}
.movie__characteristicKey {
  width: 70px;
  color: var(--light-grey-color);
}
.movie__characteristicKey:not(:last-child) {
  margin-bottom: 8px;
}
.movie__characteristicValue {
  width: 130px;
  margin-left: 40px;
}
@media (min-width: 1280px) {
  .movie__characteristicValue {
    margin-left: 85px;
  }
}
.movie__about {
  margin-top: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.movie__description {
  margin-bottom: 20px;
  line-height: 20px;
}
.movie__btnBox {
  display: flex;
}
@media (max-width: 1279px) {
  .movie__btnBox {
    justify-content: space-between;
  }
}
.movie__btn {
  width: 110px;
  height: 44px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .movie__btn {
    width: 125px;
  }
}
@media (max-width: 767px) {
  .movie__btn:first-child {
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (min-width: 1280px) {
  .movie__btn:last-child {
    margin-left: 15px;
  }
}
.movie__btn.is-active {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}
@media (min-width: 768px) {
  .movie__box {
    margin-left: 68px;
  }
}
@media (min-width: 1280px) {
  .movie__box {
    margin-left: 16px;
  }
}
.movie__trailer {
  width: 110px;
  height: 44px;
  margin-top: 10px;
  margin-left: 67px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .movie__trailer {
    width: 125px;
  }
}
.movie__trailer.is-active {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.vote__average {
  display: block;
  height: 16px;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
}
@media (min-width: 1280px) {
  .vote__average {
    margin-left: 85px;
  }
}
.vote__count {
  height: 16px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--background-footer);
  border-radius: 5px;
}

.trailerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.trailerBox__closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-image: url(../images/close.svg);
}

.authorization {
  display: flex;
  justify-content: space-between;
}
.authorization__item:first-child {
  margin-right: 40px;
}
.authorization__btn {
  background-color: transparent;
  border: none;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}

.formBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 40px;
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
.form__field {
  height: 42px;
  padding: 11px;
  margin-bottom: 16px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}
.form__field:nth-child(5) {
  margin-bottom: 10px;
}
.form__field::-moz-placeholder {
  color: var(--grey-color);
}
.form__field::placeholder {
  color: var(--grey-color);
}
.form__authInfo {
  margin-bottom: 10px;
}
.form__submit {
  width: 120px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}

.error {
  border-color: var(--primary-color);
}/*# sourceMappingURL=index.css.map */