:root {
  --primary-color: #FF6B01;
  --secondary-color: #FF6B08;
  --light-orange-color: #f0a56f;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #545454;
  --red-color: #FF001B;
  --overlay: #E5E5E5;
  --background-footer: #F7F7F7;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  margin: 0;
}

body, h1, h2, h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-image: url("../images/bg_320.png");
}
@media (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url("../images/bg_768.png");
  }
}
@media (min-width: 1280px) {
  .header {
    background-image: url("../images/bg_1280.png");
  }
}
.header__nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}
.header__title {
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-color);
}
@media (max-width: 767px) {
  .header__title {
    display: none;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item:first-child {
  margin-right: 40px;
}
.header__link {
  line-height: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}
.header__link--current {
  position: relative;
}
.header__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--red-color);
}

.search {
  position: relative;
  width: 280px;
  height: 20px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.5px solid var(--white-color);
}
@media (min-width: 768px) {
  .search {
    width: 336px;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .search {
    width: 394px;
  }
}
.search__input {
  width: 265px;
  padding: 0 0 4px 1px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  background-color: transparent;
  border: none;
}
.search__input::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}
.search__input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .search__input {
    width: 320px;
  }
}
@media (min-width: 1280px) {
  .search__input {
    width: 380px;
  }
}
.search__btn {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}
.search__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
}
.search__info {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: var(--red-color);
}
@media (min-width: 768px) {
  .search__info {
    text-align: center;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--white-color);
}
@media (min-width: 768px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .gallery {
    width: 704px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    width: 1217px;
  }
}
.gallery__item {
  width: 280px;
  height: 443px;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 336px;
    height: 494px;
  }
}
@media (min-width: 1280px) {
  .gallery__item {
    width: 395px;
    height: 634px;
  }
}
.gallery__item:not(:first-child) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .gallery__item:not(:first-child) {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .gallery__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__item:nth-child(2n) {
    margin-left: 32px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3) {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3n+2) {
    margin-left: 16px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3n+3) {
    margin-left: 16px;
  }
}

.film__poster {
  height: 402px;
}
@media (min-width: 768px) {
  .film__poster {
    height: 455px;
  }
}
@media (min-width: 1280px) {
  .film__poster {
    height: 574px;
  }
}
.film__title {
  margin-top: 10px;
  color: var(--black-color);
}
@media (min-width: 768px) {
  .film__title {
    margin-top: 8px;
  }
}
@media (min-width: 1280px) {
  .film__title {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
  }
}
.film__characteristics {
  color: var(--secondary-color);
}
@media (min-width: 1280px) {
  .film__characteristics {
    font-size: 20px;
    line-height: 24px;
  }
}

.pagination {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .pagination {
    width: 440px;
    height: 40px;
  }
}
.pagination__current {
  display: flex;
}
.pagination__previousPage, .pagination__nextPage {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  color: var(--black-color);
  background-color: var(--light-orange-color);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.pagination__previousPage {
  margin-right: 3px;
  background-image: url(../images/arrow_left.svg);
}
.pagination__nextPage {
  margin-left: 3px;
  background-image: url(../images/arrow_right.svg);
}

.pagination-number.is-active {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.disabled {
  background-color: var(--background-footer);
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
}

.pagination-number, .pagination__dotsNext, .pagination__lastPage {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  color: var(--black-color);
  border: none;
  background-color: var(--white-color);
}

.footer {
  width: 100%;
  padding: 30px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--background-footer);
}
@media (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 19px;
  }
}

.copyright {
  text-align: center;
}
@media (min-width: 768px) {
  .copyright {
    display: flex;
    justify-content: center;
  }
}
.copyright__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .copyright__info {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .copyright__info {
    margin-left: 3px;
  }
}
.copyright__icon {
  margin-left: 10px;
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */